<%- include('../partials/header.ejs')-%>
<%- include('../partials/navbar.ejs')-%>

<body>
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h3 class="card-title" >Bem vindo(a) ao gerenciador de pedidos !</h3>
            </div>
            <div class="card-body">
                 <ul class="list-group" >
                    <li class="list-group-item" >
                        <a href="/add_cliente">Iniciar um pedido</a>
                    </li>
                    <li class="list-group-item" >
                        <a href="/pedidos">Verificar historico de pedidos</a>
                    </li>
                    <li class="list-group-item">
                        <a href="">Sair dessa pagina</a>
                    </li>
                 </ul>
            </div>
             
        </div>

    </div>
</body>

<%- include('../partials/footer.ejs')-%>